#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start; /* top-align all items */
  width: 100%;
}

.pokemon-logo {
  justify-self: center;
  height: 200px;
  margin: 1rem 0 0.5rem 0;
  filter: drop-shadow(2px 2px 4px rgba(44, 44, 44, 0.2));
}

/* Filter buttons container */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.filters .toggle-btn {
  transition: all 0.25s ease;
}

.filters .toggle-btn[aria-pressed="true"] {
  background-color: var(--pokemon-blue);
  color: var(--pokemon-white);
  border-color: var(--pokemon-darkred);
}

/* Grid layout for pokemon cards */
.cards-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 2rem;
}

.pokemon-card,
.pokemon-card-zoomed {
  border: 4px solid var(--pokemon-blue);
  border-radius: 16px;
  padding: 1.5rem;
  text-align: center;
  background: var(--pokemon-yellow);
  box-shadow: 4px 4px 0px var(--pokemon-darkblue);
  transition: all 0.25s ease;
  cursor: pointer;
  color: var(--pokemon-blue);
}

.pokemon-card-zoomed {
  box-shadow: 8px 8px 0px var(--pokemon-darkyellow);
  border-color: var(--pokemon-darkred);
  background: var(--pokemon-blue);
  color: var(--pokemon-white);
  width: 320px;
  height: 520px;
}

.pokemon-card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0px var(--pokemon-darkyellow);
  border-color: var(--pokemon-darkred);
  background: var(--pokemon-blue);
  color: var(--pokemon-white);
}

.pokemon-card h3 {
  font-size: 1.5em;
  margin: 0.5rem 0;
  letter-spacing: 1px;
}

.pokemon-card p {
  margin: 0.5rem 0;
}

.pokemon-image-circle,
.pokemon-image-circle-zoomed {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
  background: #f4f4f4;
  border: 3px solid var(--pokemon-darkred); /* border color */
}

.pokemon-image-circle-zoomed {
  width: 240px;
  height: 240px;
}

.pokemon-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  filter: drop-shadow(2px 2px 4px rgba(44, 44, 44, 0.2));
}

.read-the-docs {
  color: var(--pokemon-red);
  font-weight: 700;
}

/* Top navigation */
.socials {
  justify-self: right;
  white-space: nowrap;
  align-self: start; /* top */
  text-align: right;
}

.social {
  color: var(--pokemon-blue);
  font-size: 35px;
  transition: all 0.3s ease;
  align-items: center;
  text-align: center;
  display: inline-flex;
  gap: 0.5rem;
}

.social:hover {
  color: var(--pokemon-darkred);
  transform: translateY(-2px) scale(1.1);
}
